<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}">
</header>
<!-- End Main Top -->

<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="cart-ui-content row">
            <div class="col-lg-12" style="margin-bottom: 12px">
                <div th:if="success" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div class="table-main table-responsive">
                    <div>
                        <div class="header-cart-item">
                            <div>
                                Số lượng
                            </div>
                            <div>
                                Tổng tiền
                            </div>
                            <div></div>
                        </div>
                        <div class="product-cart position-relative">
                            <div class="product-cart-item"
                                 th:each="orderdetail : ${order.orderDetailList}"
                            >
                                <div class="img-product-cart" >
                                    <a>
                                        <img th:src="'data:image/jepg;base64,' + ${orderdetail.product.image}" alt="">
                                    </a>
                                </div>

                                <div class="group-product-info">
                                    <div class="info-product-cart info-order-detail">
                                        <div>
                                            <h2 class="product-name-text">
                                                <a th:text="${orderdetail.product.name}"></a>
                                            </h2>
                                        </div>
                                        <div class="price-original">
                                            <div class="cart-price">
                                                <div class="cart-price-box">
                                                    <div>
                                                        <span class="price-inner"
                                                              th:text="${#numbers.formatDecimal(orderdetail.product.costPrice, 0, 'POINT', 0, 'COMMA') + 'đ'}"
                                                        >
                                                        </span>
                                                    </div>
                                                    <div class="price-sale">
                                                        <span class="price-inner"
                                                           th:text="${#numbers.formatDecimal(orderdetail.product.salePrice, 0, 'POINT', 0, 'COMMA') + 'đ'}"
                                                        ></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form class="form-cart" style="flex-basis: 45%">
                                        <div class="number-product-cart">
                                            <div class="product-view-quantity-box order-view-quantity-box">
                                                <div class="quantity-box-block border-0" >
                                                    <div class="input-quantity"
                                                         th:align="center"
                                                         th:text="${orderdetail.quantity}"
                                                    >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-price-total order-price-total">
                                                <span class="cart-price">
                                                    <span class="price"
                                                          th:text="${#numbers.formatDecimal(orderdetail.quantity * orderdetail.unitPrice, 0, 'POINT', 0, 'COMMA') + 'đ'}"
                                                    >
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
            <div></div>
            <div class="block-total-cart col-sm-4" >
                <div class="total-cart-container">
                    <div class="cash-total">
                        <div class="total-left"></div>
                        <div class="total-right">
                            <span class="price" ></span>
                        </div>
                    </div>
                    <div class="border-product"></div>
                    <div class="cash-total title-final-total">
                        <div class="total-left">Tổng Số Tiền (gồm VAT)</div>
                        <div class="total-right">
                            <span class="price" th:text="${#numbers.formatDecimal(order.totalPrice + 19000, 0, 'POINT', 0, 'COMMA') + 'đ'}"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Cart -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}"></footer>

<div th:replace="~{fragments::script}"></div>
</body>

</html>